h1 {

	text-align: center;
	font-size: 90px;

}

h2 {

	text-align: center;
	font-size: 50px;
}

p.italic {

  font-style: italic;
  text-align: center;
  font-size: 30px;
}

p {


   text-align: center;
   font-size: 40px;
}


.link {

	text-align: center;


}

img {

	border-radius:50%;
}
.link img {

   text-align: center;
   padding:100px
   margin:20px
   
}


.a{
text-align: center;
margin:60px
 padding:20px
 font-size: 30px;


}


.b{

	text-align: center;
    margin:60px
    padding:20px
    font-size: 30px;

}


.c{

	text-align: center;
    margin:30px
    padding:20px
    font-size: 30px;
}