/*body {background: url(sand.jpg);  background-repeat: no-repeat; background-size: cover;}*/
/*body {background-color: #F1FB95;}*/


img {border-radius: 5%; height: 250px ; width: 250px;}

h2 {color: red;}

h3 {font-size: 30px;}
table {width: 80%; padding-left: 25%;}
h1 {padding-left: 25%;}

div {color: red; padding-left: 25%;}